.vagrant
.DS_Store
.idea
*.log
tmp/
.vscode/

data
*.env
clouds.yaml
.cache
*.old
trim.txt
*.initramfs
*.kernel
*.tar
*.tar.headers
*swp
tmp
admin-openrc.sh*
clouds.yaml
*.tfstate
*.tfvars
*.lock.hcl
*.lock.info
*.backup
.terraform
secret_key.txt
/mgmt-dhcp/dnsmasqconfgen/dnsmasqconfgen
/docker-images/dnsmasqconfgen/dnsmasqconfgen
/docker-images/dicious/dicious
/docker-images/dicious/dicious.ini
/docker-images/dicious/test/
/docker-compose/netbox/initializers/*.yml
.bazelisk
bazel-*
vars/*
passwords.yml
**/kolla-etc/*
generated/
